<header id="header">
  <nav class="navbar is-transparent is-spaced">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <figure class="image is-64x64 mr-2">
          <img
            src="https://secure.gravatar.com/avatar/5763d82a3129a853b48b2fd7a5c21abd?s=64&r=g"
            alt="Bulma: a modern CSS framework based on Flexbox"
          />
        </figure>
        <span class="ts-blue is-size-2 is-family-monospace">
          <span class="has-text-weight-bold is-family-primary">Teck</span>
          <span class="ts-green">Stack</span>
        </span>
      </a>
      <div
        class="navbar-burger burger"
        data-target="navbarExampleTransparentExample"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://bulma.io/">
          Home
        </a>
      </div>
    </div>
  </nav>
</header>
